<%- include("header") -%>
<h2>About This TodoList</h2>
<p>This is a tasklist created by me for organizing my daily life tasks. Its quite helpful and keep me updated about my work.</p>
<a href="/work">>>Cick to go to Work List</a>
<a href="/home">>>Click to go to Home List</a>

<%- include("footer") -%>
